/* Informacion.css */

/* Estilo para el pie de página */
ion-footer {
    background-color: #2C3E50;
  }
  
  /* Estilo para los botones del pie de página */
  #info-button-informacion,
  #info-button-welcome,
  #info-button-inicio {
    width: 30%;
    margin: 0 auto;
  }
  
  #info-button-informacion ion-icon,
  #info-button-welcome ion-icon,
  #info-button-inicio ion-icon {
    font-size: 1.2em;
  }
  
  /* Estilo para el encabezado (toolbar) */
  ion-toolbar {
    background-color: #34495E;
    color: #ECF0F1; /* Color del texto */
    font-family: 'Arial', sans-serif; /* Tipo de letra */
  }
  
  /* Estilo para el título del encabezado */
  ion-title {
    font-size: 1.5em;
  }
  
  /* Estilo para el contenido */
  ion-content {
    background-color: #FFFFFF; /* Fondo blanco */
  }
  
  /* Estilo para el título "INFORMACION" */
  h1 {
    font-size: 2em;
  }
  
  /* Estilo para los títulos "Problema" y "Solucion" */
  h2 {
    font-size: 1.5em;
  }
  
  /* Estilo para el texto "FABIAN PTO" y "CHRIS PTO" */
  p {
    font-size: 1em;
  }
  
  /* Ajusta los estilos según tus preferencias */
  