.head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  height: 10vh;
}

.titleh {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000000;
  margin-top: 1rem;
}

.logoH {
  width: 10rem;
  height: 10rem;
  margin-top: 1rem;
}

.contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  height: 80vh;
}

.titleC {
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
  margin-top: 1rem;
}

.logoC {
  width: 10rem;
  height: 10rem;
  margin-top: 1rem;
}

.BC {
  margin-top: 1rem;
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5rem;
}

.BI {
  margin-top: 1rem;
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #ffffff;
  height: 10vh;
}

.BPF {
  margin-right: 1rem;
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  font-size: 1.5rem;
}

.personf {
  width: 3rem;
  height: 3rem;
}

.BHF {
  margin-right: 1rem;
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  font-size: 1.5rem;
}

.homef {
  width: 3rem;
  height: 3rem;
}

.BCF {
  margin-right: 1rem;
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  font-size: 1.5rem;
}

.calf {
  width: 3rem;
  height: 3rem;
}
