/* Estilos generales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Estilos para la página */
#page {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

#tbh{
  display: flex !important;
  align-items: center !important;
}

/* Estilos para el encabezado */
#head {
  background-color: #050B32 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Estilos para el título */
#welcome-title {
  color: #ffffff;
  font-family: Luckiest Guy !important;
  font-size: 26px !important;
  font-weight: bold;
  text-align: left;
  margin-left: 4%;
}

/* Estilos para el logo */
#welcome-logo {
  height: 40px !important;
  width: 40px !important;
  margin-left: auto;
  margin-right: 1% !important;
  border: 2px solid #ffffff; /* Ancho y color del borde */
  border-radius: 10px;
}

/* Estilos para el contenido */
#content {
  padding: 20px;
}

/* Estilos para el mensaje de bienvenida */
#welcome-message {
  color: #000000;
  font-size: 27px !important;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 5%;
  font-family: Luckiest Guy !important;
}

/* Estilos para el logo del contenido */
#logo-content {
  height: 300px !important;
  width: 300px !important;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}


#ContenedorHombres{
  display: flex;
  justify-content: space-between;
}

#img-HomAzul{
  height: 200px !important;
  width: 150px !important;
  margin-left: 2% !important;
}

#img-HomRosa{
  height: 200px !important;
  width: 150px !important;
  margin-right: 10% !important;
}

#ContenedorBotones{
  display: flex;
  justify-content: space-between;
}

/* Estilos para el botón de calcular */
#btn-calcular {
  color: #ffffff;
  border-radius: 10px;
  font-size: 20px !important;
  font-weight: bold;
  margin-bottom: 10px;
  display: inline-block; /* Hace que el ancho sea solo el necesario para el contenido */
  padding: 8px 16px; /* Ajusta el espacio alrededor del texto */
  font-family: Luckiest Guy !important;
}

/* Estilos para el botón de información */
#btn-informacion {
  color: #ffffff;
  border-radius: 10px;
  font-size: 20px !important;
  font-weight: bold;
  margin-bottom: 10px;
  display: inline-block; /* Hace que el ancho sea solo el necesario para el contenido */
  padding: 8px 16px; /* Ajusta el espacio alrededor del texto */
  font-family: Luckiest Guy !important;
}

/* Estilos para el pie de página */
#footer {
  background-color: #050B32 !important;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para la rejilla del pie de página */
#grid-footer {
  height: 100%;
}

/* Estilos para la fila del pie de página */
#row1-footer {
  align-items: center;
  justify-content: center;
}

/* Estilos para las columnas del pie de página */
#col1-footer, #col2-footer, #col3-footer {
  padding: 10px;
}

/* Estilos para los botones del pie de página */
#info-btn-person, #home-btn-image, #cal-btn-calculator {
  --background: #050B32 !important;
  display: inline-block; 
  padding: 8px 16px;
}



/* Estilos para las imágenes del pie de página */
#personf, #homef, #calf {
  height: 55px !important;
  width: 55px !important;
  border: 1px solid #ffffff !important; /* Ancho y color del borde */
  border-radius: 20px !important;
  padding: 20% !important;
}

/* Media queries para adaptar el diseño a diferentes tamaños de pantalla */
@media screen and (max-width: 768px) {
  /* Estilos para el título */
  #welcome-title {
    font-size: 20px;
  }

  /* Estilos para el mensaje de bienvenida */
  #welcome-message {
    font-size: 16px;
  }

  /* Estilos para el logo del contenido */
  #logo-content {
    height: 150px;
    width: 150px;
  }

  /* Estilos para el botón de calcular */
  #btn-calcular {
    font-size: 16px;
  }

  /* Estilos para el botón de información */
  #btn-informacion {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  /* Estilos para el título */
  #welcome-title {
    font-size: 16px;
  }

  /* Estilos para el logo */
  #welcome-logo {
    height: 30px;
    width: 30px;
  }

  /* Estilos para el mensaje de bienvenida */
  #welcome-message {
    font-size: 14px;
  }

  /* Estilos para el logo del contenido */
  #logo-content {
    height: 100px;
    width: 100px;
  }

  /* Estilos para el botón de calcular */
  #btn-calcular {
    font-size: 14px;
  }

  /* Estilos para el botón de información */
  #btn-informacion {
    font-size: 14px;
  }

  /* Estilos para las imágenes del pie de página */
  #personf, #homef, #calf {
    height: 30px;
    width: 30px;
  }
}
