#page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#head {
  background-color: #3498db;
  color: #ffffff;
}

#tbh {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#welcome-title {
  font-size: 1.5rem;
}

#welcome-logo {
  max-width: 50px;
  max-height: 50px;
}

#content {
  flex: 1;
  padding: 20px;
}

#welcome-message {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

#logo-content {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

#btn-calcular,
#btn-informacion {
  margin-top: 15px;
}

#footer {
  background-color: #3498db;
  color: #ffffff;
}

#grid-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

#row1-footer {
  width: 100%;
  text-align: center;
}

#col1-footer,
#col2-footer,
#col3-footer {
  flex: 1;
}

#info-btn-person,
#home-btn-image,
#cal-btn-calculator {
  max-width: 30px;
  max-height: 30px;
}
