/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Luckiest Guy !important;
  }
  
  /* Estilos para la página */
  #page {
    background-color: #f0f0f0;
    font-family: Luckiest Guy !important;
  }
  
  /* Estilos para el encabezado */
  #head {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para el título */
  #resultados-title {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  
  /* Estilos para el logo */
  #resultados-logo {
    height: 40px;
    width: 40px;
    margin-left: 10px;
  }
  
  /* Estilos para el botón de volver */
  #btnt {
    color: #000000;
  }
  
  /* Estilos para el contenido */
  #resultados-content {
    background-color: #5a0a0a;
    padding: 20px;
  }
  
  /* Estilos para el título principal */
  #resultados-content-title {
    color: #000000;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 1%;
  }
  
  /* Estilos para el div de los resultados */
  #div-resultados {
    background-color: #FDD1AE ;
    border: 2px solid #000000;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 10px;
    margin-left: 25px;
    margin-right: 25px;
  }
  
  /* Estilos para los párrafos de las TIR de cada corrida */
  #resultados-corridas {
    background-color: #FDD1AE ;
    color: #000000;
    font-size: 17px !important;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
  
  /* Estilos para el párrafo del promedio TIR */
  #resultados-promedio {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
  }
  
  /* Estilos para el párrafo del resultado de aceptación o rechazo */
  #resultados-aceptados #proyecto1{
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }

  #resultados-aceptados #aceptado{
    color: #00ff00;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }

  #resultados-aceptados {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }

  #resultados-rechazado #proyecto{
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }

  #resultados-rechazado #rechazado{
    color: #e01313;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }

  #resultados-rechazado {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }

  #conclu-acep, #conclu-recha{
    font-size: 18px;
    text-align: justify;
    margin-bottom: 10px;
    margin-right: 5%;
    margin-left: 5%;
    font-family: Luckiest Guy !important;
  }
  

  /* Estilos para el botón de volver */
  #resultados-btn-volver {
    background-color: #ffffff;
    color: #ffffff;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block; 
    padding: 8px 16px; 
    margin-top: 2% !important;
    margin-left: 20%;
  }
  
  /* Estilos para el botón de calcular */
  #resultados-btn-calcular {
    background-color: #ffffff;
    color: #ffffff;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block; 
    padding: 8px 16px; 
    margin-top: 2% !important;
    margin-right: 10%;
  }
  
  /* Estilos para el pie de página */
  #footer {
    background-color: #ffffff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para la rejilla del pie de página */
  #grid-footer {
    height: 100%;
  }
  
  /* Estilos para la fila del pie de página */
  #row1-footer {
    align-items: center;
    justify-content: center;
  }
  
  /* Estilos para la imagen del senior */
  #senior1 {
    height: 100px !important;
    width: 100px !important;
    margin-left: 40% !important;
    margin-top: 2% !important;
  }
  
  /* Estilos para las columnas del pie de página */
  #col1-footer, #col2-footer, #col3-footer {
    padding: 10px;
  }
  
  /* Estilos para los botones del pie de página */
  #info-btn-person1, #home-btn, #cal-btn-calculator {
    background-color: transparent;
    border: none;
  }
  
  /* Estilos para las imágenes del pie de página */
  #personf, #homef, #calf {
    height: 40px;
    width: 40px;
  }
  
  /* Media queries para adaptar el diseño a diferentes tamaños de pantalla */
  @media screen and (max-width: 768px) {
    /* Estilos para el título */
    #resultados-title {
      font-size: 20px;
    }
  
    /* Estilos para el título principal */
    #resultados-content-title {
      font-size: 28px;
    }
  
    /* Estilos para los párrafos de las TIR de cada corrida */
    #resultados-corridas {
      font-size: 16px;
    }
  
    /* Estilos para el párrafo del promedio TIR */
    #resultados-promedio {
    text-align: center;
    font-size: 20px !important;
    }
  
    /* Estilos para el párrafo del resultado de aceptación o rechazo */
    #resultados-aceptado, #resultados-rechazado {
      font-size: 16px;
    }
  
    /* Estilos para el botón de volver */
    #resultados-btn-volver {
      font-size: 16px;
    }
  
    /* Estilos para el botón de calcular */
    #resultados-btn-calcular {
      font-size: 16px;
    }
  }
  
  @media screen and (max-width: 480px) {
    /* Estilos para el título */
    #resultados-title {
      font-size: 16px;
    }
  
    /* Estilos para el logo */
    #resultados-logo {
      height: 30px;
      width: 30px;
    }
  
    /* Estilos para el título principal */
    #resultados-content-title {
      font-size: 24px;
    }
  
    /* Estilos para los párrafos de las TIR de cada corrida */
    #resultados-corridas {
      font-size: 14px;
    }
  
    /* Estilos para el párrafo del promedio TIR */
    #resultados-promedio {
      font-size: 14px;
    }
  
    /* Estilos para el párrafo del resultado de aceptación o rechazo */
    #resultados-aceptado, #resultados-rechazado {
      font-size: 14px;
    }
  
    /* Estilos para el botón de volver */
    #resultados-btn-volver {
      font-size: 14px;
    }
  
    /* Estilos para el botón de calcular */
    #resultados-btn-calcular {
      font-size: 14px;
    }
  
    /* Estilos para la imagen del senior */
    #senior1 {
      height: 30px;
      width: 30px;
    }
  
    /* Estilos para las imágenes del pie de página */
    #personf, #homef, #calf {
      height: 30px;
      width: 30px;
    }
  }
  